<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>LiZhe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS Style -->
	<link href="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">

	<!-- JavaScript Script -->
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
	<link href="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/customlayout.css">
</head>

<body>
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				   </button>
					 <a class="navbar-brand" href="#" id="navbar-brand">HGToner Sales Dept.</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							 <a href="#news-in-toner">News In Toner</a>
						</li>
						<li>
							 <a href="#toolkit">ToolKit</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="#">Action</a>
								</li>
								<li>
									 <a href="#">Another action</a>
								</li>
								<li>
									 <a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">Separated link</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search in this site" />
						</div> <button type="submit" class="btn btn-default">Search</button>
					</form>
				</div>

			</nav>
			<div class="jumbotron">
				<h1>
					Web Guide
				</h1>
				<p>
					This is a website providing simple toolkit and collecting client data for HGToner sales dept. .
				</p>
			</div>

			<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne">
				简单的可折叠组件
			</button>

			<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
						Nihil anim keffiyeh helvetica, craft beer labore wes anderson
						cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
						vice lomo.
					</div>
				</div>
			</div>

			<blockquote>
				<p>
					知人者智，知己者明; 胜人者力, 胜己者强.
				</p> <small>老子 <cite>《道德经》</cite></small>
			</blockquote>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="page-header">
						<h1>
							<a class="head-anchor" id="news-in-toner">NEWS IN TONER</a> <small>Information Source</small>
						</h1>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<dl>
						<dt>
							Description lists
						</dt>
						<dd>
							A description list is perfect for defining terms.
						</dd>
						<dt>
							Euismod
						</dt>
						<dd>
							Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
						</dd>
						<dd>
							Donec id elit non mi porta gravida at eget metus.
						</dd>
						<dt>
							Malesuada porta
						</dt>
						<dd>
							Etiam porta sem malesuada magna mollis euismod.
						</dd>
						<dt>
							Felis euismod semper eget lacinia
						</dt>
						<dd>
							Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
						</dd>
					</dl>
				</div>
				<div class="col-md-4 column">
					<dl>
						<dt>
							Description lists
						</dt>
						<dd>
							A description list is perfect for defining terms.
						</dd>
						<dt>
							Euismod
						</dt>
						<dd>
							Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
						</dd>
						<dd>
							Donec id elit non mi porta gravida at eget metus.
						</dd>
						<dt>
							Malesuada porta
						</dt>
						<dd>
							Etiam porta sem malesuada magna mollis euismod.
						</dd>
						<dt>
							Felis euismod semper eget lacinia
						</dt>
						<dd>
							Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
						</dd>
					</dl>
				</div>
				<div class="col-md-4 column">
						<dt>
							Description lists
						</dt>
						<dd>
							A description list is perfect for defining terms.
						</dd>
						<dt>
							Euismod
						</dt>
						<dd>
							Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
						</dd>
						<dd>
							Donec id elit non mi porta gravida at eget metus.
						</dd>
						<dt>
							Malesuada porta
						</dt>
						<dd>
							Etiam porta sem malesuada magna mollis euismod.
						</dd>
						<dt>
							Felis euismod semper eget lacinia
						</dt>
						<dd>
							Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
						</dd>
					</d
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
				<a class="head-anchor" id='toolkit'>
					Tool Kit <small><small><em>select the item you want</em></small></small>
				</a>
				</h1>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<ul id="myTab" class="nav nav-tabs">
		<li class="active">
			<a href="#excel_sum" data-toggle="tab">
				Excel表格求和
			</a>
		</li>
		<li><a href="#ios" data-toggle="tab">施工中...</a></li>
		<li class="dropdown">
			<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">施工中...	<b class="caret"></b></a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
				<li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
				<li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
			</ul>
		</li>
	</ul>

<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="excel_sum">
		<form role="form">
			<div class="form-group">
				 <label for="exampleInputEmail1">分类条目</label><input type="email" class="form-control" id="company_name"  placeholder="比如: 客户名称, 产品型号"/>
			</div>
			<div class="form-group">
				 <label for="exampleInputEmail1">求和条目</label><input type="email" class="form-control" id="email_address" placeholder="比如: 重量"/>
			</div>
			<div class="form-group">
				 <label for="exampleInputEmail1">表单名字</label><input type="email" class="form-control" id="email_address" placeholder="比如: 2017数据统计"/>
			</div>
			<div class="form-group">
				 <label for="exampleInputFile">待处理文件</label><input type="file" id="exampleInputFile" />
				<p class="help-block">
					请上传正确形式的文件 <a href="http://7xpvdr.com1.z0.glb.clouddn.com/0126141731.png"><small>使用说明</small></a>
				</p>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<div class="tab-pane fade" id="ios">
		<p>浪花有意千重雪，桃李无言一队春。</p>
	</div>
	<div class="tab-pane fade" id="ios">
		<p>浪花有意千重雪，桃李无言一队春。</p>
	</div>
	<div class="tab-pane fade" id="jmeter">
		<p>我是梦中传彩笔，欲书花叶寄朝云</p>
	</div>
	<div class="tab-pane fade" id="ejb">
		<p>细草翻惊雁，残花伴醉人</p>
	</div>
	</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Foreign Trade Info Demonstration Panel<small><small><a href="https:\\www.baidu.com">static from website</a></small></small>
				</h1>
				<p>RMB Exchange Rate Against Us Dollar {{ USD_Exchange | safe }}</p>
			</div>
		</div>
	</div>
</div>

</body>

</html>
