/* Your custom styles */
html, body {
             width: 100%;
             height: 100%;
             margin: 0;
             padding: 0;

         }

/* body{
  margin-top: 3em;
} */

main{
  height: 100%;
}

.row.first{
  height: 10em
}

.bigmark{
  font-size: 80px;
  font-family: "Meteora - DEMO";
  font-weight: bold;
}

.usdcnylink{
  text-decoration: underline;
  color: cyan;
}

.container{
    margin-right: 0px;
    margin-left: 0px;
}

#lineChart{
    margin-top: 20px;
}


new WOW().init();
